@media only screen and (max-width: 600px) {
    .Navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 40px;
        align-items: center;
    
        h4{
            font-size: 1.2rem;
            font-weight: 900;
            text-decoration: underline;
        }
    
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
    
            li{
                list-style: none;
                font-weight: 700;
                font-size: .9rem;
                cursor: pointer;
                display: none;
            }

        }
        .nav-butn{
            display: block;

            .hover-btn{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                position: fixed;
                z-index: 10;
                top: 20;
                right: 0;
                justify-content: center;
                // align-items: center;
                padding: 30px 50px 50px 30px;
                background-color: rgb(255, 255, 255);
                box-shadow: 10px 10px 80px rgb(51, 51, 51);
                border: 2px solid gray;
                border-radius: 5px;
                gap: 30px;
                margin: 20px;
                opacity: 0;
                animation: backInRight .2s .8s;
                animation-fill-mode: forwards; 

                li{
                    font-size: 1rem;
                    font-weight: bold;
                }
                li:hover{
                    color:rgb(0, 140, 255);
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .Navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 40px;
        align-items: center;
    
        h4{
            font-size: 1.2rem;
            font-weight: 900;
            text-decoration: underline;
        }
    
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
    
            li{
                list-style: none;
                font-weight: 700;
                font-size: .9rem;
                cursor: pointer;
            }

            li:hover{
                color: rgb(0, 140, 255);
            }
        }
        .nav-butn{
            display: none;
        }
    }
}


