/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {.skills{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden;

    h3{
        margin-top: 5%;
        align-self: center;
        font-size: 1rem;
        color: rgb(0, 140, 255);
    }

    .skills-main{
        margin: 1%;
        width: 90%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .skill-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-radius: 20px;
            gap: 10px;
            opacity: 0;
            animation: backInUp 1s 1.2s;
            animation-fill-mode: forwards;
            transition: .5s ease-in-out;

            img{
                aspect-ratio: 1/1;
                width: 100px;
            }
            p{
                font-size: .9rem;
                font-weight: 600;
            }
        }

        .skill-item:hover{
            cursor: pointer;
            scale: 1.1;
        }
    }
}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {.skills{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h3{
        margin-top: 5%;
        align-self: center;
        font-size: 1rem;
        color: rgb(0, 140, 255);
    }

    .skills-main{
        margin: 1%;
        width: 60%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;

        .skill-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-radius: 20px;
            gap: 10px;
            opacity: 0;
            animation: backInUp 1s 1.2s;
            animation-fill-mode: forwards;
            transition: .5s ease-in-out;

            img{
                aspect-ratio: 1/1;
                width: 100px;
            }
            p{
                font-size: .9rem;
                font-weight: 600;
            }
        }

        .skill-item:hover{
            cursor: pointer;
            scale: 1.1;
        }
    }
}}

